a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  height: 831px;
  background-image: url(./image/Header-cybermonday\ 1.png);
  background-repeat: no-repeat;
  background-size: 90% contain;
  background-position: right;
  background-color: var(--yellow);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .content {
  width: 60%;
}

.header .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--font-size-53xl);
  color: var(--coral);
  margin: 0;
}

.header .discription {
  font-size: var(--subtitle-size);
  color: var(--gray-text-body);
  width: 70%;
  margin: 40px 0 60px 0;
}

.header .content a {
  background-color: var(--b);
  padding: 15px 50px;
  color: #fff;
  border: none;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.header .content a:hover {
  background-color: var(--a);
  font-weight: 700;
}

.benefits {
  margin: 100px auto;
}

.benefits .benefit-list {
  display: flex;
  justify-content: space-around;
}

.benefits .title {
  font-size: var(--title-size);
  color: var(--coral);
  font-weight: 500;
  text-align: center;
  margin: 100px auto;
}

.benefits .benefits1 {
  display: flex;
}

.benefits .benefit-list .title {
  color: var(--b);
  font-size: var(--body1-size);
  text-align: left;
  margin: 0 0 20px 0;
}

.benefits .benefit-list .content {
  width: 50%;
  margin-left: 20px;
}

.benefits .discription {
  color: var(--gray-text-body);
  font-size: var(--font-size-sm);
}

.flash-deal {
  background-image: url("image/zzz 1.png");
  background-color: var(--coral);
}

.flash-deal .title {
  color: #fff;
}

.flash-deal .discription {
  font-size: var(--font-size-17xl);
  color: #fff;
}

.sale-up {
  text-align: center;
  background-color: var(--yellow);
  padding-bottom: 70px;
}

.sale-up .sale {
  color: var(--b);
  font-size: var(--font-size-9xl);
  padding-top: 100px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.sale-up .collection {
  font-size: var(--title-size);
  font-weight: 500;
  color: var(--coral);
}

.sale-up .product {
  width: 270px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.sale-up .collection-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sale-up .image {
  background-color: #fff;
  min-height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale-up .infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.sale-up .infor .name {
  color: var(--gray-text-body);
  font-size: var(--font-size-5xl);
  font-weight: normal;
  margin: 0;
}

.sale-up .price {
  display: flex;
  font-size: var(--title1-size);
  justify-content: center;
  margin: 10px 0 20px;
}

.sale-up .price .old-price {
  color: var(--gray-text-body);
  text-decoration: line-through;
}

.sale-up .price .new-price {
  color: var(--coral);
  margin-left: 10px;
}

.sale-up a {
  padding: 17px 0;
  width: 50%;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--coral);
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  margin-top: auto;
  display: inline-block;
}

.sale-up a:hover {
  background-color: var(--a);
  font-weight: 700;
}

.time {
  background-image: url("./image/thom-holmes-fIZMcJsw-ms-unsplashedited\ 2.png");
  background-size: 724px 496px;
  background-position: left;
  background-color: var(--b);
  height: 496px;
}

.time .content {
  color: #fff;
  width: fit-content;
}

.time .container {
  justify-content: flex-end;
}
.time .content .title {
  font-size: var(--title-size);
  text-transform: none;
  color: #fff;
}

.time .count-down {
  display: flex;
  margin-bottom: 50px;
}

.time .box {
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  margin-right: 10px;
  margin-top: 50px;
}

.time .box .number {
  font-weight: 500;
  font-size: var(--font-size-21xl);
}

.time .box .text {
  font-size: var(--subtitle-size);
}

.time .content a {
  background-color: var(--coral);
  margin-top: 40px;
  font-size: var(--font-size-5xl);
}

.testimonials {
  text-align: center;
}

.testimonials .title {
  font-size: var(--title-size);
  font-weight: 500;
  color: var(--coral);
  margin-top: 80px;
}

.testimonials .discription {
  font-size: var(--subtitle-size);
  color: var(--b);
  margin-bottom: 40px;
}

.testimonials .review .content {
  max-width: 40%;
  margin: 0 auto;
  font-size: var();
  color: var(--gray-text-body);
}

.testimonials .review .name {
  text-transform: uppercase;
  font-size: var(--body1-size);
  font-weight: 500;
  color: var(--gray-text-body);
  margin: 15px 0 30px;
}

.dots {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 30px 0 50px;
}

.dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgba(40, 98, 98, 0.3);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dots li.active {
  background-color: rgba(40, 98, 98, 0.7);
}

.sign-up {
  background-color: var(--yellow);
  text-align: center;
  padding: 70px 0 100px;
}

.sign-up .title {
  font-size: var(--title-size);
  font-weight: 500;
  color: var(--coral);
  margin: 0;
}

.sign-up .discription {
  font-size: var(--subtitle-size);
  color: var(--b);
  margin: 20px 0 50px;
}

.sign-up .form-sign-up {
  display: flex;
  justify-content: center;
}

.sign-up .form-sign-up input {
  width: 30%;
  height: 50px;
  padding-left: 20px;
  border: none;
}

.sign-up .form-sign-up .button-sign-up {
  text-transform: uppercase;
  color: #fff;
  font-size: var(--subtitle-size);
  width: 150px;
  background-color: var(--b);
  padding: 15px;
  cursor: pointer;
}

.sign-up .form-sign-up .button-sign-up:hover {
  background-color: var(--a);
  font-weight: 700;
}

.action {
  background-image: url("./image/heather-ford-5gkYsrH_ebY-unsplash\ 1.png");
  background-size: 50% contain;
  background-position: right;
  background-color: var(--coral);
  height: 554px;
}

.action .content {
  width: 40%;
}
.action .title {
  color: #fff;
  font-size: var(--title-size);
  text-transform: none;
}

.action .discription {
  color: #fff;
  width: 100%;
}

.action .content button {
  font-size: var(--font-size-5xl);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 346px;
    margin: 0 auto;
  }
  .header {
    height: 800px;
    background-image: url("./image/Header-mobile 1.png");
  }

  .header .container {
    display: flex;
    align-items: flex-end;
  }

  .header .content {
    margin: 0 auto 30px;
    width: 100%;
  }

  .header .title {
    font-size: var(--font-size-17xl);
  }

  .header .discription {
    font-size: var(--font-size-sm);
    width: 100%;
    margin: 20px 0 30px;
  }

  .header .content a {
    padding: 15px 30px;
    font-size: var(--body1-size);
    margin-bottom: 20px;
  }

  .benefits {
    margin: 0 0 30px;
  }

  .benefits .title {
    font-size: var(--font-size-5xl);
    margin: 50px auto;
    width: 70%;
  }

  .benefits .benefit-list {
    flex-wrap: wrap;
    margin: auto;
  }

  .benefits .benefits1 {
    margin-bottom: 10px;
  }

  .benefits .benefits1 .icon img {
    width: 41px;
  }

  .benefits .benefit-list .title {
    font-size: var(--font-size-sm);
    margin: 0;
  }

  .benefits .benefit-list .content {
    width: 100%;
  }

  .benefits .discription {
    font-size: var(--font-size-xs);
  }

  .flash-deal {
    background-image: url("image/zzz 1.png");
    background-position: bottom;
    height: 650px;
    background-size: contain;
  }

  .flash-deal .container {
    align-items: flex-start;
  }
  .flash-deal .content {
    text-align: center;
  }

  .flash-deal .title {
    font-size: var(--font-size-11xl);
    padding-top: 50px;
  }

  .flash-deal .discription {
    font-size: var(--body-size);
  }

  .sale-up {
    padding: 0px 10px 40px;
  }

  .sale-up .sale {
    font-size: var(--body1-size);
    padding-top: 50px;
  }

  .sale-up .collection {
    font-size: var(--font-size-5xl);
    margin: 0 0 30px 0;
  }

  .sale-up .collection-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .sale-up .infor {
    gap: 10px;
  }

  .sale-up .product {
    width: 165px;
    margin: 0;
    overflow: hidden;
    gap: 5px;
  }

  .sale-up .image {
    min-height: 207px;
  }

  .sale-up .image img {
    width: 137px;
  }

  .sale-up .infor .name {
    font-size: var(--font-size-sm);
  }

  .sale-up .price {
    font-size: var(--font-size-sm);
    margin: 0;
  }

  .sale-up a {
    font-size: var(--font-size-xs);
    width: 70%;
    padding: 10px 0;
  }

  .time {
    background-image: url("./image/thom-holmes-fIZMcJsw-ms-unsplashedited\ 2.png");
    background-size: contain;
    background-position: top;
    height: 570px;
  }

  .time .content .title {
    font-size: var(--font-size-5xl);
    text-align: center;
  }

  .time .container {
    text-align: center;
  }
  .time .box {
    width: 80px;
    height: 80px;
    margin-top: 30px;
  }

  .time .box .number {
    font-size: var(--font-size-11xl);
  }

  .time .box .text {
    font-size: var(--font-size-sm);
  }

  .time .content a {
    font-size: var(--subtitle-size);
    text-align: center;
  }
  .time .count-down {
    margin-bottom: 0;
  }

  .testimonials .title {
    font-size: var(--font-size-5xl);
    margin: 50px 0 10px;
  }

  .testimonials .discription {
    font-size: var(--body-size);
    margin-bottom: 30px;
    padding: 0 10%;
  }

  .testimonials .review .content {
    max-width: 100%;
    margin: 0 5%;
    font-size: var(--font-size-sm);
  }

  .testimonials .review .name {
    font-size: var(--font-size-sm);
  }

  .dots li {
    width: 10px;
    height: 10px;
  }

  .sign-up {
    padding: 30px 0;
  }

  .sign-up .title {
    font-size: var(--font-size-5xl);
  }

  .sign-up .discription {
    font-size: var(--body-size);
  }

  .sign-up .form-sign-up input {
    width: 50%;
  }

  .sign-up .form-sign-up .button-sign-up {
    width: fit-content;
    font-size: 14px;
    padding: 15px 15px;
  }

  .action {
    background-image: url("./image/heather-ford-5gkYsrH_ebY-unsplash\ 1.png");
    background-size: 100% auto;
    background-position: top;
    background-color: var(--coral);
    height: 600px;
  }

  .action .title {
    font-size: var(--font-size-5xl);
    width: 70%;
  }

  .action .discription {
    font-size: var(--body-size);
  }
}
